<div id="page-content" class="page-content myorders-page">
    <h2 class="page-title" style="text-align: center;">My Orders</h2>
    <div id="orders-container" class="container">
      <div class="orders-tabs">
        <div>
          <div id="orders-controller" class="orders-list col-sm-6 col-xs-16" style="display: none;">
            <div class="myorder-controller">
              <div class="current-orders">

              </div>
              <div class="previous-orders">

              </div>
            </div>
          </div>
          <div class="order-details current-order-details col-sm-10 col-xs-16 my-orders-mobile" id="orders-details"
            style="display: none;">
            <div class="checkout-loader"><span class="loader"></span> <span>Loading order data</span></div>
          </div>
        </div>
      </div>
      <div class="no-data-state text-center margin-8">
        <div class="content-inner">
          <div class="no-data-icon"><img src="../assets/Images/no-orders.svg" alt="no orders" draggable="false"></div>
          <br>
          <div class="no-data-content">
            <h4 class="title">You're missing out! You haven't placed any orders yet</h4>
            <p class="paragraph">Discover the best dishes around you and place your first order now</p>
            <div class="delivery-area">
              Restaurants delivering to .
              <span class="icon"><img src="../assets/Images/motorcycle-delivery-colored.svg" alt="icon"></span> <span
                class="area-name">Maadi</span></div>
            <br>
            <div class="text-center"><a href="#" class="discover-btn btn btn-primary">I want to discover and order
                now</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>