
<h1  class="discovermood text-center">{{"DineOutModule.header" |translate}} </h1>

<div class="section-header">
   
<h2 id="Mood">{{"DineOutModule.DiscoverByCategory"|translate}}</h2>
</div>
<div class=" row">
 
   
        <div class="card col-lg  col-sm-12"  *ngFor='let resturantMood of moods'  (click) = 'restaurantByMood(resturantMood.mood)'>
            <div class="card-img-caption">
                <h4 class="card-text" style="color: #fff;">{{resturantMood.moodp}}</h4>
                <img class="card-img-top"  src= {{resturantMood.moodImage}} alt="Card image" >

            </div>
        </div>

  
    <!-- <div class="col-lg sec1">

        <div class="card"  (click) = 'restaurantByMood("Coffeeshops")'>
            <div class="card-img-caption">
                <h4 class="card-text" style="color: #fff;">Coffeeshops</h4>
               <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/ba76ec62-a72d-47e1-b1f9-05788a3ae54d.jpg" alt="Card image">

            </div>
        </div>

    </div>
    <div class="col-lg sec1">

        <div class="card"  (click) = 'restaurantByMood("Kids-Friendly")'>
            <div class="card-img-caption">
                <h4 class="card-text" style="color: #fff;">Kids-Friendly</h4>
                <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/b6b152a1-2225-11e8-924e-0242ac110011.jpg" alt="Card image">

            </div>
        </div>

    </div> -->


</div>
