
<h1 class="discovermood text-center">Discover restaurants to dine-out</h1>

<div class="section-header">
   
    <h2 id="Mood">Discover by Moods</h2>
</div>
<div class="section-body row">
    <div class="col-sm-12 col-lg-5 sec1">

        <div class="card"  (click) ='restaurantByMood("Cheap Eats")'>
            <div class="card-img-caption"  >
                <h2 class="card-text" style="color: #fff;">Cheap Eats</h2>
               <img class="card-img-top " src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/ba76ec62-a72d-47e1-b1f9-05788a3ae54d.jpg" alt="Card image">

            </div>
        </div>

    </div>
    <div class="col-lg sec1">
        <div class="card"  (click) = 'restaurantByMood("Hidden Gems")'>
            <div class="card-img-caption">
                <h4 class="card-text" style="color: #fff;">Hidden Gems</h4>
                <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/b6b14c1e-2225-11e8-924e-0242ac110011.jpg" alt="Card image" style="height: 80%">

            </div>
        </div>

    </div>
    <div class="col-lg sec1">

        <div class="card"  (click) = 'restaurantByMood("Coffeeshops")'>
            <div class="card-img-caption">
                <h4 class="card-text" style="color: #fff;">Coffeeshops</h4>
               <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/ba76ec62-a72d-47e1-b1f9-05788a3ae54d.jpg" alt="Card image">

            </div>
        </div>

    </div>
    <div class="col-lg sec1">

        <div class="card"  (click) = 'restaurantByMood("Kids-Friendly")'>
            <div class="card-img-caption">
                <h4 class="card-text" style="color: #fff;">Kids-Friendly</h4>
                <img class="card-img-top" src="https://s3-eu-west-1.amazonaws.com/elmenusv5-stg/Normal/b6b152a1-2225-11e8-924e-0242ac110011.jpg" alt="Card image">

            </div>
        </div>

    </div>


</div>
