<div class="container-fluid">

    <div style="background-image: url(../assets/Images/background.jpg); height: 1000px;">


        <!-- navbar -->
        <div class="row align-items-center">
            <div class=" col-md-8 col-sm-12 col-sm-push-8 section-text"></div>
            <!-- modal one -->
            <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text">
                <button type="button" class="btn" data-toggle="modal" data-target="#myModal"
                    style="color: white; margin-top: 30px; font-size: 20px; font-weight: bold;">LOGIN</button>


                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-md" style="text-align: center;">
                        <div class="modal-content">
                            <img src="../assets/Images/elmenus.jpg" style=" width: min-content; margin-left: auto;
                            margin-right: auto;">
                            <form style="margin: 20px;">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Enter email"
                                        name="email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="pwd"
                                        placeholder="Enter password" name="pwd">
                                </div>
                                <input class="btn" type="submit" value="LOGIN"
                                    style="width: 460px; background-color: #e5533a; color: white; margin-bottom: 20px;">
                                <input class="btn" type="submit" value="LOGIN WITH FAVEBOOK"
                                    style="width: 460px; background-color: #0f3c70; color: white; margin-bottom: 20px;">
                                <input class="btn btn-primary" type="submit" value="LOGIN WITH GOOGLE"
                                    style="width: 460px; color: white; margin-bottom: 20px;">
                                <p style="font-size: 15px; color: white;">
                                    <a href="About Us.html" style="color: #e5533a; ">FORGET PASSWORD?</a>
                                </p>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal two -->
            <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text">
                <button type="button" class="btn" data-toggle="modal" data-target="#myModal"
                    style="color: white; background-color: #e5533a ; margin-top: 30px; font-size: 20px; font-weight: bold;">SIGNUP</button>


                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-md" style="text-align: center;">
                        <div class="modal-content">
                            <img src="elmenus.jpg" style=" width: min-content; margin-left: auto;
                            margin-right: auto;">
                            <form style="margin: 20px;">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="usr" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Enter email"
                                        name="email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="pwd"
                                        placeholder="Enter password" name="pwd">
                                </div>
                                <input class="btn" type="submit" value="CREATE ACCOUNT"
                                    style="width: 460px; background-color: #e5533a; color: white; margin-bottom: 20px;">

                                <p style="font-size: 15px; padding: 10px;">
                                    By creating an account, you agree to our Terms of service and Privacy policy
                                </p>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"
                style=" font-size: 20px; font-weight: bold; margin-top: 30px;">
                <a href="About Us.html" style="color: white;">العربية</a></div>
            <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"></div>



        </div>
        <br>
        <br>
        <br>
        <br>

        <!-- discover -->
        <div style="text-align: center; color: white; font-size: 60px;">
            <p style="margin-bottom: -30px;">Discover & Order the</p>
            <p>food you love.</p>
        </div>



        <!-- search -->
        <div class="row align-items-center">
            <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text"></div>
            <div class=" col-md-4 col-sm-12 col-sm-push-8 section-text">
                <div class="input-group"> <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append"><button class="btn btn-secondary"><i
                                class="fas fa-search"></i></button></div>
                </div>
            </div>
            <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text ">
                <p style="font-size: 40px; color: white;">
                    Cairo
                </p>
            </div>
            <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"
                style="border-radius: 10px; font-size: 20px;height: 60px; background-color: #e5533a; position: relative; ">
                <a href="About Us.html"
                    style="color: white; position: absolute; top: 25%; margin-left: 40px;">GO</a>
            </div>
            <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text"></div>
        </div>
        <br>
        <br>
        <br>
        <br>


        <!-- Send great food to your friends or teams at work -->
        <div class="row align-items-center">
            <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text"></div>
            <div class=" col-md-6 col-sm-12 col-sm-push-8 section-text "
                style="height: 60px; border-radius: 10px;  padding-top: 10px; text-align: center;">
                <p style="font-size: 20px; color: white;">
                    Send great food to your friends or teams at work
                    <a href="About Us.html" style="color: #e5533a; ">try now</a>
                </p>
            </div>
            <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text"></div>
        </div>

        <br>
        <br>
        <br>
        <br>

        <!-- explore -->
        <div style="text-align: center; color: white; font-size: 20px;">
            <p>Or explore elmenus</p>
        </div>


        <!-- delivery & dinout -->
        <div class="row align-items-center" style="padding: 10px;">
            <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text"></div>
            <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text"
                style="background-color: white; height: 150px; border-right: 3px solid rgb(163, 159, 159); padding-top: 30px">
                <a href="#">
                    <div style="color: black; padding-left: 20px;">

                        <i class="fas fa-truck" style="color: rgb(163, 159, 159); padding-right: 5px;"></i>
                        Delivery
                        <br>
                        <p style="color: rgb(163, 159, 159);">
                            Get food delivered from amazing restaurants around you
                        </p>
                    </div>
                </a>
            </div>
            <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text"
                style="background-color: white; height: 150px; border-left: 3px solid rgb(163, 159, 159); padding: 30px 10px 10px 10px;">
                <a href="#">
                    <div style="color: black; padding-left: 20px;">
                        <i class="fas fa-utensils" style="color: rgb(163, 159, 159); padding-right: 5px;"></i>
                        Dine Out
                        <br>
                        <p style="color: rgb(163, 159, 159);">Browse restaurants by mood, cuisine, area or dish
                            names</p>
                    </div>
                </a>
            </div>
            <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text"></div>
        </div>
    </div>



    <br>
    <br>

    <!-- now you can order -->
    <div class="row align-items-center">
        <div class=" col-md-4 col-sm-12 col-sm-push-8 section-text"></div>

        <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text">
            <hr class="leftline" style="border: 1px solid rgb(163, 159, 159)">
        </div>
        <div class=" col-md-2 col-sm-12 col-sm-push-8 section-text ">
            <h5 class="align-self-stretch" style="text-align: center; color:rgb(163, 159, 159); font-weight: bold;">
                <span>
                    Now you can
                </span></h5>
        </div>
        <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text">
            <hr class="rightline" style="border: 1px solid rgb(163, 159, 159)">
        </div>
        <div class=" col-md-4 col-sm-12 col-sm-push-8 section-text"></div>
    </div>

    <!-- order online -->
    <div style="text-align: center; color: #e5533a;">
        <h1 style="margin-bottom: -30px; font-size: 75px;">ORDER</h1>
        <h1 style="font-size: 75px;">ONLINE</h1>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!-- track your order -->
    <div class="row align-items-center">
        <div class=" col-md-2 col-sm-12 col-sm-push-8 section-text"></div>


        <div class=" col-md-4 col-sm-12 col-sm-push-8 section-text ">
            <div style=" height: 250px; background-color: rgb(255, 255, 255);
     border-radius: 10px; box-shadow: 3px 7px 5px #888888; text-align: center; padding: 10px;">
                <h3 style="padding-top: 50px;">Track your order</h3>
                <h5 style="color: #888888;">Want to know your order status? No problem, Now you can know exactly
                    where your order is throughout the delivery process.</h5>
            </div>

        </div>
        <div class=" col-md-4 col-sm-12 col-sm-push-8 section-text ">
            <div style=" height: 250px; background-color: rgb(255, 255, 255);
     border-radius: 10px; box-shadow: 3px 7px 5px #888888; text-align: center; padding: 10px;">
                <h3 style="padding-top: 50px;">
                    No phone calls</h3>
                <h5 style="color: #888888;">Order your favorite food easier, faster, and without phone calls.</h5>
            </div>

        </div>

        <div class=" col-md-2 col-sm-12 col-sm-push-8 section-text"></div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!-- looking for delivery -->
    <div class="row align-items-center">
        <div class=" col-md-2 col-sm-12 col-sm-push-8 section-text"></div>
        <div class=" col-md-6 col-sm-12 col-sm-push-8 section-text ">
            <h3 style="color: #8e52ff;">Looking for delivery</h3>
            <br>
            <h3>Look for restaurants that have this sign
                <p style="font-size: 15px;"><i class="fas fa-check-circle" style="color: green;"></i>order
                    online</p>
            </h3>
        </div>
        <div class=" col-md-2 col-sm-12 col-sm-push-8 section-text"
            style="border-radius: 10px; font-size: 20px;height: 60px;background-color: #e5533a; position: relative; ">
            <a href="About Us.html" style="color: white; position: absolute; top: 25%; margin-left: 50px;">Order
                Online Now</a>
        </div>
        <div class=" col-md-2 col-sm-12 col-sm-push-8 section-text"></div>
    </div>

</div>