<div class="cont">
  <div class="top">
      <div class= "container-fluid">  
          <div class="row">
              <div class="col-sm-6 col-xs-12" >
                  <div class="containt">
                      <h1>Give the gift of great food to your friends or teams at work</h1>
                      <hr>
                      <p>We listened to your requests and launched elmenus GiftMeals, a simple way for you to share promos with friends or teams at work so everyone can enjoy great food wherever they are.</p>
                      <div class="actions"><button class="btn btn-primary">
                          Send Gifts to your teams
                      </button> <button class="btn btn-outline">
                          Send Gifts to your friends
                      </button></div>
                  </div>
              </div>
              <!-- Gift Photo -->
              <div class="col-sm-6 hidden-xs gifting-img"><img src="../../../assets/Images/gifting.png" ></div>
              <div class="col-xs-12 visible-xs gifting-img"><img src="../../../assets/Images/gifting.png"></div>
          </div>
      </div>
      </div>
</div>
<!-- bottom container -->
<div class="bottom">
  <div class="container">
      <div class="row">
          <div class="col-md-12 title"><h1>Bring Happiness To Your Team or to your Friends</h1> <hr></div>
          <div class="col-sm-6 col-xs-12">
              <div class="col-sm-3 col-xs-12">
                  <img src="../../../assets/Images/amount.png" class="icon gifting-img">
              </div>
              <div class="col-sm-9 col-xs-12">
                  <h3>Set a gift amount</h3>
                  <p>Set your budget for each GiftMeal (e.g. 10 EGP) and select how many GiftMeals you would like to buy.</p>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12">
              <div class="col-sm-3 col-xs-12">
                  <img src="../../../assets/Images/phones.png" class="icon gifting-img">
              </div>
              <div class="col-sm-9 col-xs-12">
                  <h3>List your friends or teams</h3>
                  <p>Easily copy & paste phone numbers to send multiple GiftMeals to your teams and friends.</p>
              </div></div>
      </div>
      <div class="row">
          <div class="col-sm-6 col-xs-12">
              <div class="col-sm-3 col-xs-12">
                  <img src="../../../assets/Images/friends.png" class="icon gifting-img">
              </div>
              <div class="col-sm-9 col-xs-12">
                  <h3>Pay the full amount online</h3>
                  <p>Once you purchase the GiftMeals, you'll receive a confirmation email and your friends/teams will receive an SMS with the GiftMeal promo code.</p>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12" >
              <div class="col-sm-3 col-xs-12">
                  <img src="../../../assets/Images/gifts.png" class="icon gifting-img">
              </div>
              <div class="col-sm-9 col-xs-12">
                  <h3>They receive the GiftMeals</h3>
                  <p>The people you gifted can use their personalized GiftMeal promo code via their associated phone number to order great dishes on elmenus.</p>
              </div>
          </div>
      </div>
  </div>   
</div>

