<section class="pagesection">
    <div class="section-header">
     
        <h2>Discover by Dishes</h2>

    </div>
    <div class="section-body glider-contain" style="margin-top:20px">

        <figure class="figure "  (click)="getRestaurantByDishes(dish.name) "  *ngFor ="let dish of dishes">
            <img class="img-fluid rounded" src="../../../../../../assets/Images/download2.jpg" alt="image">
            <figcaption class="figure-caption" style="text-align: center;">{{dish.name}}</figcaption>
        </figure>
        
    </div>

</section>
